<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-lg">
    <mat-progress-bar class="overflow-hidden w-full" *ngIf="mainFrameLoading" mode="indeterminate"
    color="primary"></mat-progress-bar>
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.svg" />
      </div>
    </div>
    
    
    <div class="text-center mt-4">
      <h2 class="title m-0">Réinitialiser le mot de passe</h2>
      <h4 class="body-2 text-secondary m-0">
        Saisissez votre adresse électronique pour récupérer votre mot de passe.
      </h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <mat-form-field>
        <mat-label>Adresse Email</mat-label>

        <mat-icon class="mr-2" matIconPrefix svgIcon="mat:mail"></mat-icon>
        <input formControlName="email" matInput required />
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Nous ne pouvons pas récupérer votre mot de passe sans votre email.
        </mat-error>
      </mat-form-field>

      <button
        (click)="send()"
        class="mt-2"
        [disabled]="form.invalid"
        color="primary"
        mat-raised-button
        type="button">
        ENVOYER LE LIEN DE RÉCUPÉRATION
      </button>
    </div>
  </div>
</div>
