<!-- <div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="card">
            <mat-card-header>
                <div class="px-6 py-6 border-b">
                    <h2 class="title m-0">Changer vos informations personnelles</h2>
                  </div>
            </mat-card-header>
            <form [formGroup]="form" class="p-6">
                <mat-divider class="text-border"></mat-divider>

                <mat-dialog-content class="flex flex-col">
                    <div class="p-4 text-center" matRipple>
                        <img [src]="imageUrl" class="avatar h-24 w-24 mx-auto" style="border: 1px solid;" />

                        <h2 class="title mb-1 mt-3">
                            <label class="block mb-2 text-gray-700 font-semibold">Charger la photo de profile</label>
                            <input type="file" (change)="onFileChange($event)" class="text-sm text-gray-600">
                            <p style="color: red;" *ngIf="isFailedImg">{{messageCtrlImg}}</p>
                        </h2>

                    </div>

                    <div class="flex flex-col sm:flex-row">
                        <mat-form-field class="flex-auto">
                            <mat-label>Prénom</mat-label>
                            <input cdkFocusInitial formControlName="first_name" matInput />
                            <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
                            <mat-error *ngIf="form.controls['first_name'].errors?.['required']">
                                Le prénom est obligatoire
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="sm:ml-6 flex-auto">
                            <mat-label>Nom</mat-label>
                            <input formControlName="last_name" matInput />
                            <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
                            <mat-error *ngIf="form.controls['last_name'].errors?.['required']">
                                Le nom est obligatoire
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div class="flex flex-col sm:flex-row">
                        <mat-form-field class="flex-auto">
                            <mat-label>Adresse Email</mat-label>
                            <input formControlName="email" matInput />
                            <mat-icon matIconPrefix svgIcon="mat:mail"></mat-icon>
                            <mat-error *ngIf="form.controls['email'].errors?.['required']">
                                L'email est obligatoire
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col sm:flex-row">
                        <mat-form-field class="flex-auto">
                            <mat-label>Date de naissance</mat-label>
                            <input [matDatepicker]="datepickerRef" formControlName="date_of_birth" matInput
                                placeholder="Entrez la date de naissance&hellip;" />
                            <mat-datepicker-toggle [for]="datepickerRef" matIconSuffix></mat-datepicker-toggle>
                            <mat-datepicker #datepickerRef></mat-datepicker>
                            <mat-error *ngIf="form.controls['date_of_birth'].errors?.['required']">
                                La date de naissance est obligatoire
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="sm:ml-6 flex-auto">
                            <mat-label>Genre</mat-label>
                            <mat-select formControlName="gender" placeholder="Select your state&hellip;" required>
                                <mat-option value="homme">Homme</mat-option>
                                <mat-option value="femme">Femme</mat-option>
                            </mat-select>
                            <mat-icon matIconPrefix svgIcon="mat:unfold_more"></mat-icon>
                            <mat-error *ngIf="form.controls['gender'].errors?.['required']">
                                Le genre est obligatoire
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col sm:flex-row">
                        <mat-form-field class="flex-auto">
                            <mat-label>Téléphone 1</mat-label>
                            <input formControlName="phone_work" matInput />
                            <mat-icon matIconPrefix svgIcon="mat:phone"></mat-icon>
                            <mat-error *ngIf="form.controls['phone_work'].errors?.['required']">
                                Le numéro de tépléphone est obligatoire
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="sm:ml-6 flex-auto">
                            <mat-label>Téléphone 2</mat-label>
                            <input formControlName="phone_home" matInput />
                            <mat-icon matIconPrefix svgIcon="mat:phone"></mat-icon>
                        </mat-form-field>
                    </div>
                </mat-dialog-content>

                <mat-dialog-actions align="end">
                    <div class="flex justify-end space-x-4">
                        <button color="primary" mat-raised-button type="button" [disabled]="form.invalid"
                            (click)="save()">
                            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:save"></mat-icon>
                            <span>Mettre à jour</span>
                        </button>
                    </div>
                </mat-dialog-actions>
            </form>
        </div>
    </div>
</div>

<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="card">

            <mat-card-header>
                <div class="px-6 py-6 border-b">
                    <h2 class="title m-0">Changer votre mot de passe</h2>
                  </div>
            </mat-card-header>
            <form [formGroup]="formPassword" class="p-6">
                <mat-divider class="text-border"></mat-divider>
                <mat-dialog-content class="flex flex-col">

                    <div class="flex flex-col sm:flex-row">
                        <mat-form-field class="flex-auto">
                            <mat-label>Votre mot de passe actuel</mat-label>
                            <input
                              [type]="inputType"
                              formControlName="current_password"
                              matInput
                              required />
                            <button
                              (click)="toggleVisibility()"
                              mat-icon-button
                              matIconSuffix
                              matTooltip="Toggle Visibility"
                              type="button">
                              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
                            </button>
                            <mat-error *ngIf="formPassword.controls['current_password'].errors?.['required']">
                                Le mot de passe est obligatoire
                            </mat-error>
                            <mat-error *ngIf="formPassword.controls['current_password'].errors?.['minlength']">
                                Le mot de passe doit comporter minumum 8 caractères
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col sm:flex-row">

                        <mat-form-field class="flex-auto">
                            <mat-label>Nouveau mot de passe</mat-label>
                            <input
                              [type]="inputType"
                              formControlName="new_password"
                              matInput
                              required />
                            <button
                              (click)="toggleVisibility()"
                              mat-icon-button
                              matIconSuffix
                              matTooltip="Toggle Visibility"
                              type="button">
                              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
                            </button>
                            <mat-error *ngIf="formPassword.controls['new_password'].errors?.['required']">
                                Le mot de passe est obligatoire
                            </mat-error>
                            <mat-error *ngIf="formPassword.controls['new_password'].errors?.['minlength']">
                                Le mot de passe doit comporter minumum 8 caractères
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="sm:ml-6 flex-auto">
                            <mat-label>Confirmer le nouveau mot de passe</mat-label>
                            <input
                              [type]="inputType"
                              formControlName="new_password_confirmation"
                              matInput
                              required />
                            <button
                              (click)="toggleVisibility()"
                              mat-icon-button
                              matIconSuffix
                              matTooltip="Toggle Visibility"
                              type="button">
                              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
                            </button>
                            <mat-error *ngIf="formPassword.controls['new_password_confirmation'].errors?.['required']">
                                Le mot de passe est obligatoire
                            </mat-error>
                            <mat-error *ngIf="formPassword.controls['new_password_confirmation'].errors?.['minlength']">
                                Le mot de passe doit comporter minumum 8 caractères
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col sm:flex-row text-center">
                        <span class="font-bold text-xl" style="color: red;" *ngIf="messageCtrlNewPassword">{{messageCtrlNewPassword}}</span>
                    </div>

                </mat-dialog-content>

                <mat-dialog-actions align="end">
                    <div class="flex justify-end space-x-4">
                        <button color="warn" mat-raised-button type="reset">
                            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:cancel"></mat-icon>
                            <span>Annuler</span>
                        </button>
                        <button color="primary" mat-raised-button type="button" [disabled]="formPassword.invalid"
                            (click)="changePassword()">
                            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:check"></mat-icon>
                            <span>Valider</span>
                        </button>
                    </div>
                </mat-dialog-actions>
            </form>
        </div>
    </div>
</div> -->