<!-- language-selector.component.html -->
<!-- <div class="language-selector">
  <select [ngModel]="selectedLanguage" (ngModelChange)="changeLanguage($event)" aria-label="Sélecteur de langue">
    <option *ngFor="let lang of languages" [value]="lang.code">{{ lang.name }}</option>
  </select>
</div> -->

<div class="flex items-start justify-end m-0">
  <button
    mat-raised-button
    color="primary"
    class="flex items-center justify-center"
    [matMenuTriggerFor]="languageMenu">
    <div class="flex flex-row gap-2" >
      <!-- <img class="w-6 h-6 rounded-full" [src]="flag" alt="flag" /> -->
      <span class="text-sm font-medium">Language</span
      >
    </div>
  </button>
  <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
    <button mat-menu-item *ngFor="let item of languages" (click)="changeLanguage(item.code)">
      <div class="flex flex-row gap-2">
        <!-- <img class="w-6 h-6 rounded-full" [src]="item.flag" alt="{{ item.name }}" /> -->
        <p class="font-medium text-sm">{{ item.name }}</p>
      </div>
    </button>
  </mat-menu>

  <!-- <mat-menu
    #languageMenu="matMenu"
    overlapTrigger="false"
    xPosition="before"
    yPosition="below">
    <button
      mat-menu-item
      *ngFor="let item of languages"
      (click)="changeLanguage(item.code)">
      <div class="flex flex-row gap-2">
        <img
          class="w-6 h-6 rounded-full"
          alt="{{ item.name }}" />
        <p class="font-medium text-sm">
          {{ item.name }}
        </p>
      </div>
    </button>
  </mat-menu> -->
</div>